<div class="container mt-3">
  <h2 class="bg-warning text-white" style="text-align: center;">CUSTOMER LIST</h2>
  <div class="text-end">
  <button type="button" (click)="addcus()" class="btn btn-primary">ADD CUSTOMER</button>  
</div>
  <table class="table">
    <thead>
      <br>
      <tr class="bg-success text-white">
        <th>CustomerId</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Country</th>
        <th>CreatedDate</th>
        <th></th>
        <th>Edit</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of result" class="table-warning">
        <td>{{v.CustomerId}}</td>
        <td>{{v.FirstName}}</td>
        <td>{{v.LastName }}</td>
        <td>{{v.Country}}</td>
        <td>{{v.CreatedDate}}</td>
        <td><button type="button" (click)="updatecus(v.CustomerId)" class="btn btn-primary">Edit</button></td>
        <td><button type="button" (click)="deletecus(v.CustomerId)" class="btn btn-danger">Delete</button></td>
        <td><button type="button" (click)="viewcus(v.CustomerId)" class="btn btn-success">View</button></td>
      </tr>
    </tbody>
  </table>
</div>